.page {
    padding-top: 75px;
}

.center_div {
    margin: 0 auto;
    width: 50%;
}

h3 {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .center_div {
        margin: 0 auto;
        width: 100%;
    }
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.crop {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}